* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #eaf3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    background: #ffffff;
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 0 6px 25px rgba(0,0,0,0.15);
    max-width: 380px;
    width: 100%;
    text-align: center;
}

.logo {
    width: 80px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #0055A4;
}

.input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #cfd9e6;
    border-radius: 8px;
    font-size: 15px;
}

.small-link {
    display: block;
    margin-top: 8px;
    font-size: 13px;
    color: #0055A4;
    text-decoration: none;
}

.btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #0055A4;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #00498F;
}

.register-text {
    margin-top: 15px;
    font-size: 14px;
}
